/* --- about workers section styles --- */

.workers-list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.worker-item {
  margin: 15px auto;
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.worker-item:hover .worker-item-body {
  height: 110px;
  opacity: 1;
}
.worker-item-body {
  height: 45px;
  opacity: 1;
  transition: all .55s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(158, 178, 192, 0.6);
}
.worker-item-body h4 {
  font-size: 20px;
}
.worker-item-body p {
  margin: 5px;
}
.worker-item img {
  width: 100%;
  height: auto;
}
.worker-item .social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
}
.soc-worker-link {
  transform: color .3s ease;
  color: var(--mainWhite);
}
.soc-worker-link:hover {
  color: var(--mainBright);
}

@media only screen and (max-width : 768px) {
  .worker-item {
    max-width: 600px;
  }
}

/* --- about workers section styles end --- */